SharedOutput/
*_clone_*
WIA.Shared/Interfaces.meta
WIA.Shared/Interfaces/Model.meta
WIA.Shared/Interfaces/Services.meta
WIA.Shared/Interfaces/StreamingHubs.meta
WIA.Shared/Interfaces/StreamingHubs/IRoomHub.cs.meta
WIA.Shared/Interfaces/StreamingHubs/IRoomHubReceiver.cs.meta
WIA.Shared/Interfaces/StreamingHubs/JoinedUser.cs.meta
WIA_Client/Build.zip
.vs/
WIA.Client/Assets/99_Users/08_Nishiura/08_Asset/Abandoned World/Wood Box Free/Wood box HDRP.unitypackage.meta
WIA.Client/Assets/99_Users/08_Nishiura/08_Asset/Abandoned World/Wood Box Free/Wood box URP.unitypackage.meta
WIA.Client/Assets/99_Users/08_Nishiura/08_Asset/ithappy/Furniture_FREE/Render_Pipeline_Convert/Unity_6_Built-In_source.unitypackage.meta
WIA.Client/Assets/99_Users/08_Nishiura/08_Asset/ithappy/Furniture_FREE/Render_Pipeline_Convert/Unity_6_HDRP_source.unitypackage.meta
WIA.Client/Assets/99_Users/08_Nishiura/08_Asset/ithappy/Furniture_FREE/Render_Pipeline_Convert/Unity_6_URP_source.unitypackage.meta
