SharedOutput/
*_clone_*
WIA.Shared/Interfaces.meta
WIA.Shared/Interfaces/Model.meta
WIA.Shared/Interfaces/Services.meta
WIA.Shared/Interfaces/StreamingHubs.meta
WIA.Shared/Interfaces/StreamingHubs/IRoomHub.cs.meta
WIA.Shared/Interfaces/StreamingHubs/IRoomHubReceiver.cs.meta
WIA.Shared/Interfaces/StreamingHubs/JoinedUser.cs.meta
WIA_Client/Build.zip
.vs/
